.main-div{
    background-color: #6983aa;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .center-div{
    width: 50%;
    height: auto;
    background-color: white;
    box-shadow: 5px 5px 25px 5px antiquewhite;
    border-radius: 20px;
  }
  
  .main-div .center-div h1{
    background-color: blueviolet;
    color: white;
  }
  
  .main-div .center-div input{
    outline: 0;
    border-width: 0 0 2px;
    border-color: #6983aa
  }
  
  .main-div .center-div .button1{
    border-radius: 50%;
    background-color: blueviolet;
    border: none;
    font-size: 25px;
    color: white;
  }
  
  .main-div .center-div .button1:hover {
    background-color: green;
  }
  
  .bxs-message-square-add{
    font-size: 20px;    
  }

button{
    border: none;
    /* border-radius: 50%; */
    border-radius: 50%;
}

.question{
    border-radius: 5px;
    height: 20%;
    text-align: center;
}  
